body {
            font-family: 'Montserrat';
            margin: 0;
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            padding: 0;
        }


h2 {
                color: #050c33;
                font-size: 24px;
                font-weight: bold;
            }

.container {
                    margin-left: auto;
                    margin-right: auto;
                    padding: 0px 15px;
                }
